body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #0483a336;
    color: black;
    text-align: center;
    padding: 10px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project {
    background-color: linen;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project h2 {
    color: #333;
}

.project p {
    color: #666;
}

.project img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.project a {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: #4285f4;
    font-weight: bold;
}

#pty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imagem {
    position: absolute;
    left: 26px;
    top: 30px;
    width: 50px;
    cursor: pointer;
}

#claro {
    position: absolute;
    left: 26px;
    top: 30px;
    width: 50px;
    display: none; /* Inicialmente oculta a imagem */
    cursor: pointer;
}

.dark-theme #imagem {
    display: none; /* Oculta a imagem no tema escuro */
}

.dark-theme #claro {
    display: block; /* Mostra a imagem no tema escuro */
}


#toggle-theme-button {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 50px;
    cursor: pointer;

}
#tema-claro {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #imagem {
        position: absolute;
        left: 10px;
        top: 40px;
        width: 30px;
    }

    #toggle-theme-button {
        position: absolute;
        right: 15px;
        top: 38px;
        width: 40px;
    
    }

    #tema-claro {
        position: absolute;
        right: 15px;
        top: 38px;
        width: 40px;

    }
}

.dark-theme {
    background-color: black;
    color: #fff;
}

.dark-theme .project {
    background-color: #333;
    color: #fff;
}

.dark-theme .project h2 {
    color: #fff;
}

.dark-theme .project p {
    color: #ccc;
}

.dark-theme-header {
    color:white;
}

#tema-claro {
    display: none;
}

.dark-theme #tema-claro {
    display: block;
}

.dark-theme #toggle-theme-button {
    display: none;
}

.title {
    color: black; /* Cor padrão para o título */
}

.dark-theme .title {
    color: white; /* Cor do título no tema escuro */
}

